language: objective-c
osx_image: xcode9.2
cache: 
  directories:
    - vendor/bundle
before_install:
  - gem install bundler
install:
  - brew update && (brew upgrade xctool || true) && (brew install xcproj || true) && xctool --version
  - bundle install -j4 --path=vendor/bundle --binstubs=vendor/bin
  - cd Example/ios && bundle exec pod install && cd -
xcode_workspace: Example/ios/TAKKitSwiftSample.xcworkspace
xcode_scheme: TAKKitSwiftSample
xcode_sdk: iphonesimulator
env:
  - XCODE_SDK=iphonesimulator8.4
  - XCODE_SDK=iphonesimulator9.3
  - XCODE_SDK=iphonesimulator10.0
